<h1>Insert the form to edit an instance of your model here.</h1>
<form action="/users/<%= @user.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<br>Username:<input type= "text" name = "username" id = "username"><br>
<br>Password:<input type = "text" name = "password" id = "password"><br>
<br><input type = "submit" value ="Save Changes"><br>
</form>


<form action="/users/<%= @user.id %>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Account">
</form>