<div class="container">
<header class="relative snake-bg">
  <h1 class="white absolute heading-overlay">Welcome back, Pot Head!</h1>
  <h3 class="grey absolute heading-overlay3">Log In
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Login">
      <br><h6><a href="/signup"class="white">Not a member? We're happy you're here, click here to signup</a></h6>
    </form>
  </h3>
</div>
