
<h3>Please enter the name of the new plant you would like to add.</h3>
<br>
<br>
<form method = "post" action= "/plants">

Name:<input type= "text" name = "name" id = "name">
<br>
<br>
Light Needs:<input type = "text" name = "light_needs" id = "light_needs">
<br>
<br>
Water Needs:<input type = "text" name = "water_needs" id = "water_needs">

<input type = "submit" value = "Continue">