<div class="container">
  <header class="relative show-bg">
    <h1 class="white absolute heading-overlay">Plant Profile</h1>
    <h3 class="white absolute heading-overlay4"><%= "#{@plant.name}"%><br>
      <%= "Light needs:#{@plant.light_needs}"%><br>
      <%= "Water needs:#{@plant.water_needs}"%><br>
    </h3>
  
    <div class="sidebarss">
      <h3 class=absolute heading-overlay>Links</h3><br>
        <li><b><br><a href="/plants/<%=@plant.id%>/edit" class="grey" >Edit this plant</a><br></li>
        <li><b><br><a href="/plants/new"class="grey" >Grow Your Garden</a><br><li>
        <li><b><br><a href="/plants" class="grey" >View Your Garden</a><br></li>
        <li><b><br><a href="/logout" class="grey" >Log Out</a><br></li>
    </div> 
  </header>
</div>