<div class="container">
   <header class="relative">
    <img src="images/jackie-tsang-ygqrqAbWUoc-unsplash.jpg" class="img-responsive main-image">
    <h2 class="white absolute heading-overlay">Welcome To Pot Head
      <div class="small-text">
          <h4>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
          </h4>
      </div>
    </h2>
  </header>
</div>
